[mysqld]
server-id=1                 # id único do servidor (necessário para replicação)
log_bin=mysql-bin           # habilita binary log (necessário para replicação)
binlog_format=ROW           # formato de binlog recomendado para réplica
gtid_mode=ON                # usa GTID (facilita configuração)
enforce_gtid_consistency=ON # exige transações compatíveis com GTID
skip_name_resolve=ON        # evita DNS reverso (conexões mais rápidas/seguras)
